//-------------------------------------
//  COLORS
//-------------------------------------

$color-blue               : #77A0CE;
$color-light-blue         : #E7EAEF;
$color-red                : #B22222;
$color-brown              : #9A482B;

$color-black              : #333;
$color-white              : #fff;
$color-gray               : #ddd;

//-------------------------------------
//  SEMANTIC
//-------------------------------------

$color-primary            : $color-blue;
$color-accent             : $color-red;
$color-alt                : $color-brown;
$color-shadow             : rgba($color-black, .125);

$color-background         : $color-white;
$color-background-shade   : $color-gray;
$color-background-invert  : $color-blue;

$color-text               : $color-black;
$color-text-weak          : $color-gray;
$color-text-strong        : darken($color-black, 10);
$color-text-heading       : $color-blue;
$color-text-invert        : rgba($color-background, .75);
$color-text-strong-invert : $color-background;
$color-text-link          : $color-primary;
$color-text-link-hover    : $color-accent;
$color-border             : $color-blue;
