<nav class="Nav">

    <div class="Container">

        <ul class="Nav__list">
            <li class="Nav__item Nav__item--logo">
                <a class="Nav__link" href="#"><span class="u-hiddenVisually">NGR Electrical</span></a>
            </li>
            <li class="Nav__item Nav__item--services">
                <a class="Nav__link" href="#services">Services</a>
            </li>
            <li class="Nav__item Nav__item--contact">
                <a class="Nav__link" href="#contact">Contact</a>
            </li>
        </ul>

    </div>

</nav>
