/* ==========================================================================
   LISTS
   ========================================================================== */

ol,
ul {
    padding-left: $-space;
    margin-bottom: $-line-height;
}

/* Remove vertical spacing when nesting lists */

li {
    > ol,
    > ul {
        margin-bottom: 0;
    }
}

/* The `unstyled list` simply removes all styling on the list. */

.list-unstyled {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* The `inline list` a list of items in one line. */

.list-inline {
    @extend .list-unstyled;

    > li {
        display: inline-block;
    }
}
