/* ==========================================================================
   CONTAINERS
   ========================================================================== */

.Container {
    max-width: 90%;
    margin: 0 auto;

    @include media(md) {
        max-width: 80%;
    }
}
