/* ==========================================================================
   BUTTONS
   ========================================================================== */

$-Button-font: inherit;
$-Button-padding: (6px - 1) (12px - 1);
$-Button-color: inherit;
$-Button-background: $-color-light-blue;
$-Button-border-width: 1px;
$-Button-border-color: darken($-color-light-blue, 5);
$-Button-disabled-opacity: 0.6;

/**
 * The Button classes are best applied to links, buttons, and submit inputs.
 * These components can be used in forms, as calls to action, or as part of the
 * general UI of the site/app.
 */

/**
 * 1. Allow us to style box model properties.
 * 2. Normalize across all elements that this component could be applied to.
 * 3. Subtract the border size from the padding value so that buttons do not
 *    grow larger as we add borders.
 * 4. Inherit font styles from ancestor.
 * 5. Normalize `line-height`. For `input`, it can't be changed from `normal`
 *    in Firefox 4+.
 * 6. Line different sized buttons up nicer.
 * 7. Prevent button text from being selectable.
 * 8. Make sure `input` will wrap text across multiple lines.
 * 9. Corrects inability to style clickable `input` types in iOS.
 */

.Button {
    position: relative;
    display: inline-block; /* [1] */
    margin: 0; /* [2] */
    padding: $-Button-padding; /* [3] */
    font: $-Button-font; /* [4] */
    line-height: normal; /* [5] */
    text-align: center;
    vertical-align: middle; /* [6] */
    cursor: pointer;
    user-select: none; /* [7] */
    white-space: normal; /* [8] */
    color: $-Button-color;
    background: transparent;
    background-color: $-Button-background;
    border-width: $-Button-border-width;
    border-style: solid;
    border-color: $-Button-border-color;
    -webkit-appearance: none; /* [9] */
}

/**
 * Remove excess padding and border in Firefox 4+
 */

.Button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

/**
 * Work around a Firefox/IE bug where the transparent `button` background
 * results in a loss of the default `button` focus styles.
 */

.Button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
}

/**
 * UI states
 */

.Button {
    @include ui-states {
        text-decoration: none;
    }
}

.Button:disabled,
.Button.is-disabled {
    cursor: default;
    opacity: $-Button-disabled-opacity;
}
