// =============================================================================
// Theme mapping
// =============================================================================

// Base
// =============================================================================

$-background-base: $-color-white;
$-color-base: $-color-black;
$-font-base: 300 #{$-font-size}/#{($-line-height / $-font-size)} $-font-family;

// Links
// =============================================================================

$-link-color: $-color-red;
$-link-color-hover: $-color-brand-blue;

// Texture
// =============================================================================

$-border-color: $-color-charcoal;

