// =============================================================================
// Theme definition
// =============================================================================

// This defines the theme in fundamental terms, but not how it is applied. That
// is done in `_theme_map.scss`.

// Breakpoints
// =============================================================================

$-breakpoints: (
    "xs": "screen and (max-width: 44.9375em)",
    "sm": "screen and (min-width: 45em)",
    "md": "screen and (min-width: 62em)",
    "lg": "screen and (min-width: 86.375em)",
    "x2": "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)"
);

// Colors
// =============================================================================

$-color-brand-blue: #77A0CE;
$-color-white: #fff;
$-color-black: #333;

// Primary grays
$-color-charcoal: #292f33;
$-color-dark-gray: #66757f;
$-color-medium-gray: #8899a6;
$-color-gray: #ccd6dd;
$-color-light-gray: #e1e8ed;
$-color-faint-gray: #f5f8fa;

// Primary blues
$-color-light-blue: #E7EAEF;

// Secondary colors
$-color-red: #B22222;

// Font
// =============================================================================

$-font-size: 16px;
$-font-family: 'Open Sans', sans-serif;
$-line-height: ($-font-size * 1.5);

$-heading-font-family: 'Open Sans', sans-serif;

// Spacing
// =============================================================================

$-space: 24px;
$-space--small: ($-space / 2);
$-space--large: ($-space * 2);

