/* ==========================================================================
   SHOW-HIDE
   ========================================================================== */

/**
 * Completely remove from the flow and screen readers.
 */
.u-hidden {
    display: none !important;
}

/**
 * Completely remove from the flow but leave available to screen readers.
 */
.u-hiddenVisually {
    position: absolute !important;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden !important;
    clip: rect(1px, 1px, 1px, 1px);
    border: 0;
}

/**
 * Complete remove from the flow for mobile devices.
 */
.u-xs-hide {
    @include media(xs) {
        display: none !important;
    }
}

/**
 * Complete remove from the flow for small and above devices.
 */
.u-sm-hide {
    @include media(sm) {
        display: none !important;
    }
}
