/*------------------------------------*\
    SPACING
\*------------------------------------*/

/**
 * Margin and padding helper classes. Use these to tweak layout on a micro
 * level.
 */

// Alter variables below to enable specific features.
$enable-margins:                  false !default;
$enable-margins--none:            false !default;
$enable-paddings:                 false !default;
$enable-paddings--none:           false !default;

@if ($enable-margins == true) {

    /**
     * Add margins.
     */
    .mt      { margin-top:       $spacing-unit !important; }
    .mb      { margin-bottom:    $spacing-unit !important; }
    .mr      { margin-right:     $spacing-unit !important; }
    .ml      { margin-left:      $spacing-unit !important; }

}

@if ($enable-margins--none == true) {

    /**
     * Remove margins.
     */
    .mt0     { margin-top:       0 !important; }
    .mb0     { margin-bottom:    0 !important; }
    .mr0     { margin-right:     0 !important; }
    .ml0     { margin-left:      0 !important; }

}

@if ($enable-paddings == true) {

    /**
     * Add paddings.
     */
    .pt      { padding-top:      $spacing-unit !important; }
    .pr      { padding-right:    $spacing-unit !important; }
    .pb      { padding-bottom:   $spacing-unit !important; }
    .pl      { padding-left:     $spacing-unit !important; }

}

@if ($enable-paddings--none == true) {

    /**
     * Remove paddings.
     */
    .pt0     { padding-top:      0 !important; }
    .pr0     { padding-right:    0 !important; }
    .pb0     { padding-bottom:   0 !important; }
    .pl0     { padding-left:     0 !important; }

}
