/*------------------------------------*\
    WIDTHS-RESPONSIVE
\*------------------------------------*/

/**
 * Responsive width classes based on your responsive settings.
 */

@each $breakpoint in $breakpoints {

    $alias:     nth($breakpoint, 1);
    $condition: nth($breakpoint, 2);

    // Define which breakpoints to output widths for. Breakpoints are defined at
    // settings/_breakpoints.scss
    @if ($alias == lap-and-up or $alias == desk) {

        @include breakpoint($alias) {

            /**
             * Whole.
             */
            .#{$alias}-one-whole          { width: 100% !important; }

            /**
             * Halves.
             */
            .#{$alias}-one-half,
            .#{$alias}-two-quarters,
            .#{$alias}-five-tenths        { width: 50% !important; }

            /**
             * Thirds.
             */
            .#{$alias}-one-third          { width: 33.3333333% !important; }
            .#{$alias}-two-thirds         { width: 66.6666666% !important; }

            /**
             * Quarters.
             */
            .#{$alias}-one-quarter        { width: 25% !important; }
            .#{$alias}-three-quarters     { width: 75% !important; }

            /**
             * Fifths.
             */
            .#{$alias}-one-fifth,
            .#{$alias}-two-tenths         { width: 20% !important; }
            .#{$alias}-two-fifths,
            .#{$alias}-four-tenths        { width: 40% !important; }
            .#{$alias}-three-fifths,
            .#{$alias}-six-tenths         { width: 60% !important; }
            .#{$alias}-four-fifths,
            .#{$alias}-eight-tenths       { width: 80% !important; }

            /**
             * Tenths.
             */
            .#{$alias}-one-tenth          { width: 10% !important; }
            .#{$alias}-three-tenths       { width: 30% !important; }
            .#{$alias}-seven-tenths       { width: 70% !important; }
            .#{$alias}-nine-tenths        { width: 90% !important; }

        }

    }

}
