/*-----------------------------------*\
    WRAPPERS
\*-----------------------------------*/

.wrapper,
%wrapper {
    max-width: 90%;
    margin: 0 auto;

    @include breakpoint(desk) {
        max-width: 80%;
    }

    @include breakpoint(screen) {
        max-width: 60%;
    }

}
