//-------------------------------------
//  MIXINS
//-------------------------------------

// Apply hover ‘attention’ styles in one go.
@mixin attention {
    &:hover,
    &:active,
    &:focus {
        @content;
    }
}

// Generate font-weights from their aliases.
@mixin font-weight($font-weight) {

    @if ($font-weight == "light") {
        font-weight: $weight-light;
    }

    @if ($font-weight == "bold") {
        font-weight: $weight-bold;
    }

}

// Completely remove from the flow and screen readers.
@mixin is-hidden {
    display: none !important;
    visibility: hidden !important;
}

// Completely remove from the flow but leave available to screen readers.
@mixin is-vishidden {
    position: absolute !important;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

// Align things vertically.
@mixin vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

// Property with rgba color and hex fallback.
@mixin rgba($property, $color, $background: white) {
    $percent: alpha($color) * 100%;
    $opaque: opacify($color, 1);
    $solid-color: mix($opaque, $background, $percent);
    @if ($percent < 100%) { #{$property}: $solid-color; }
    #{$property}: $color;
}
// e.g.: @include rgba('background-color', rgba(red, .6));
