/*-----------------------------------*\
    RESET
\*-----------------------------------*/

/**
 * As well as using normalize.css, it is often advantageous to remove all
 * margins from certain elements.
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd, ol, ul,
form, fieldset, legend,
figure,
table, th, td, caption,
hr,
%reset-zero {
    margin:  0;
    padding: 0;
}

/**
 * Reset margins from the elements via extend.
 */
%reset-margin  {
    margin: 0;
}

/**
 * Reset padding from the elements via extend.
 */
%reset-padding {
    padding: 0;
}

/**
 * Remove bullets and indents from lists via extend.
 */
%reset-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
