//-------------------------------------
//  Accessibility
//-------------------------------------

// Makes an element hidden.
@mixin is-hidden {
    display: none !important;
    visibility: hidden;
}

// Turns off the is-hidden effect.
@mixin is-visible {
    display: block !important;
    visibility: visible;
}

// Makes an element visually hidden, but accessible.
@mixin is-vishidden {
    position: absolute !important;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

// Turns off the visually hidden effect.
@mixin is-vishidden-off {
    position: static !important;
    width: auto;
    height: auto;
    overflow: visible;
    clip: auto;
}
