//-------------------------------------
//  MIXINS
//-------------------------------------

// Apply hover ‘attention’ styles in one go.
@mixin attention {
    &:hover,
    &:active,
    &:focus {
        @content;
    }
}

// Quick sizing shortcuts.
@mixin size($width, $height) {
    width: $width;
    height: $height;
}
@mixin square($size) {
    @include size($size, $size);
}

// Align things vertically.
// (http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/)
@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

// rgba value for attribute with hex value for fallback.
// e.g.: @include rgba('background', rgba($color-primary, .4));
@mixin rgba($attribute, $color, $background: white) {
    $percent: alpha($color) * 100%;
    $opaque: opacify($color, 1);
    $solid-color: mix($opaque, $background, $percent);
    @if ($percent < 100%) { #{$attribute}: $solid-color; }
    #{$attribute}: $color;
}

// Creates equal side border radius on elements.
// $side - Options: left, right, top, bottom
@mixin side-radius($side, $radius) {
    @if ($side == left or $side == right) {
        border-bottom-#{$side}-radius: $radius;
        border-top-#{$side}-radius: $radius;
    } @else {
        border-#{$side}-left-radius: $radius;
        border-#{$side}-right-radius: $radius;
    }
}
