/*------------------------------------*\
    HEADINGS
\*------------------------------------*/

/**
 * Headings 1–4, with corresponding abstract classes for double-stranded heading
 * hierarchy. Variables defined in settings/_sizes.scss for sizes.
 */
h1, h2, h3, h4 {
    font-family: $font-family-heading;
    font-weight: $font-weight-light;
    color: $color-accent;
    text-rendering: optimizelegibility;
}

h1,
.as-h1,
%as-h1 {
    @include set-font-size($font-size-x-large);
    transition: all 200ms;
    color: $color-text-heading;

    @include breakpoint(lap-and-up) {
        @include set-font-size($font-size-xx-large);
    }

    @include breakpoint(desk) {
        @include set-font-size($font-size-xxx-large);
    }

    @include breakpoint(screen) {
        @include set-font-size($font-size-xxxx-large);
    }

}

h2,
.as-h2,
%as-h2 {
    @include set-font-size($font-size-large);

    @include breakpoint(lap-and-up) {
        @include set-font-size($font-size-x-large);
    }

    @include breakpoint(desk) {
        @include set-font-size($font-size-xx-large);
    }

}

h3,
.as-h3,
%as-h3 {
    @include set-font-size($font-size-medium);
}

h4,
.as-h4,
%as-h4 {
    @include set-font-size($font-size-regular);
    font-weight: $font-weight-bold;
}
