/*-----------------------------------*\
    LISTS
\*-----------------------------------*/

ul {
    padding-left: 20px;
}

ul { list-style: square outside; }
ol { list-style: decimal outside; }

/* Remove vertical spacing when nesting lists */
li {
    > ul,
    > ol {
        margin-bottom: 0;
    }
}

dl dt {
    font-weight: $font-weight-bold;
}
