/*-----------------------------------*\
    TYPE
\*-----------------------------------*/

/* Emboldened elements */
strong, b {
    font-weight: $font-weight-bold;
}

/* Empty paragrapghs */
p:empty {
    display: none;
}

/* Spaced text */
.spaced {
    letter-spacing: 1px;
}

/* Horizontal rules */
hr {
    border: none;
    border-bottom: 1px solid $color-border;
    margin-bottom: $spacing-unit - 1px;
}
